/*Пускай волшебство поможет этому коду заработать!*/

body {
    font-family: 'Sofia Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;

}

aside {
border: 3px, 0px, 3px, 0px;
border-style: solid;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

object {
    width: 100vw;
    height: 100vh;
}

.picture {
    width: 220px;
    height: 180px;
    margin: 5px;
}

ul {
    display: flex; justify-content: space-around;
}

.navigation {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


figcaption {
font-size: small;
}

figure :hover {
background-color: yellow;
font-size: large;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 800;
}
